
html {
    height: 100%;
}
body{
    color: #222244;
    height: 100%;
}
/* 스크롤 */
.scrollBox{
    width: 90%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: inherit;
}
.content:hover .scrollBox{
    overflow-y: auto;
    overflow-y: overlay;
}
/* 내브바 카카오, 네이버 로고 */
.platformLogo{
    width: 30px;
    height: 30px;
}

.wrapper#dashboardWrapper{
    min-width: 1360px;
}
.wrapper__form{
    flex-direction: row;
    width: 100%;
    height: 90%;
    padding: 20px;
    padding-top: 60px;
}
.contentRow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.contentCol{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
}
.visibleCol{
    height: 98%; /* (100% - .contentCol의 margin) */
    border-radius: 16px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px #cccccc;

}
.content{
    width: 100%;
    margin: 2%;
    height: 100%;
    border-radius: 16px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px #cccccc;
    position: relative;
}
.visibleCol .content{
    background-color: inherit;
    box-shadow: none;
}

.content__top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
}
.content__title, .content__top__btn, content__subtitle{
    font-weight: bold;
    text-align: left;
    line-height: 300%;
}
.content__title{
    padding-left: 20px;
}
.content__top__btn{
    display: none;
    padding-right: 20px;
}
.content__top__btn i {
    cursor: pointer;
}
.content__subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #222244;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    border-radius: 6px;
}
.content__subtitle:hover{
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    outline: none !important;
}

/* 메모 영역 */
.memoList{
    height: 100%;
}
.emptyMessageDiv{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8e8e8e;
}
.memoTextDiv{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.memoText{
    width: 97%;
    height: 23vh;
    background-color: inherit;
    border: none;
    resize: none;
}
.memoText:focus{
    outline: none;
}
.fa-plus{
    cursor: pointer;
}
.content:hover .content__top__btn{
    display: block;
}
.content__mid{
    height: 84%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__mid:not(.content--schedule .content__mid){
    position: absolute;
    width: 100%;
    top: 15%;
}
.visibleCol > .content__top > div:not(.content__title){
    display: flex;
    justify-content: space-between;
    align-items: center
}

.visibleCol .content__mid{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
    margin: 0 20px;
    padding: 10px;
    border-radius: 10px;
}
.visibleCol .content:nth-child(2) .content__mid{
    background-color: #EEF7FF;
}
.visibleCol .content:nth-child(3) .content__mid{
    background-color: #F0FBF4;
}
.content__subtitle .fa-chevron-down{
    transition: transform 0.3s ease;
}
.content__subtitle .fa-chevron-down.closed{
    transform: rotate(-90deg);
}

/* 일정 */
.content__mid > .scheduleContent{
    height: 85%;
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-y: hidden;
    opacity: 1;
    transition: all 0.5s ease;
}

.scheduleContent.closed{
    opacity: 0;
}
.scheduleList{
}
.scheduleRow{
    font-size: 14px;
    background-color: white;
    height: fit-content;
    padding: 5px;
    margin-bottom: 7px;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
}
.scheduleTitle{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    gap: 3px
}
.scheduleTitle > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 260px;
    height: 20px;
}
.scheduleList .fa-calendar{
    margin-left: 4px;
}
.notepad, .logContent, .category__mid{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 40px 20px;
}
.notepad{
    height: 88%;
    padding-top: 10px;
    background-color: #FFF7D1;
    box-shadow: 2px 2px 4px 1px #cccccc;
}
.memoRow{
    width: 85%;
    height: calc(1rem + 3px);
    background-color: #FFF7D1;
    padding: 10px 15px;
    box-shadow: 2px 2px 0px 0px #eeeeee;
    margin-bottom: 5px;
    overflow-y: hidden;
}

/* 활동 로그 */
.userImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}
.logContent{
    background-color: inherit;
    justify-content: flex-start;
    align-items: flex-start;
}
.category__mid{
    background-color: inherit;
    justify-content: flex-start;
    align-items: flex-start;
}
.logList{
    padding-left: 20px;
    height: 100%;
}

.logRow{
    width: 90%;
    height: fit-content;
    margin: 8px 0px 8px 0px;
    padding: 5px 0px 10px 0px;
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #cccccc
}
.logBody{
    width: 100%;
}
.logMessage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.logRow > div:not(.logType) {
    display: flex;
    align-items: center;
}
.logBottom{
    width: 100%;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #8e8e8e;
}
.logType{
    color: #00D28C;
    font-weight: bold;
}
.logList > .viewMore {
    display: flex;
    width: 124px;
    height: 32px;
    margin: auto;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #bbbbbb;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.categoryContent{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.categoryTitle{
    height: 40%;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 16px;
}
.categoryTitle > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
    height: 20px;
}
.categoryBottom{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.categoryCreator{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.categoryTag{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    color: #0098fe;
}
.category__mid > .categoryList{
    width: 100%;
    height: 100%;
}

.category__mid > .categoryList > .categoryRow{
    display: flex;
    height: fit-content;
    padding: 5px 15px;
    margin-bottom: 7px;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    width: 90%;
    cursor: pointer;
}
.MyScheduleReload{
    cursor: pointer;
    margin: 0px 25px 0 0;
}
.selectCategory{
    display: flex;
    align-items: center;
}
.selectCategory > span{
    color: #0098fe;
    margin-right: 8px;
    font-size: 15px;
}
.selectCategory > div{
    font-weight: normal;
    color: #a8a8a8;
    font-size: 15px;
    margin-right: 8px;
}
.scheduleChart{
    display: flex;
    width: 322px;
    height: 100%;
    justify-content: center
}
.scheduleChartContent{
    height: 100%;
}
.chartCenterBack{
    position: relative;
}
.chartCenter{
    position: absolute;
    top: 42.5%;
    right: 115px;
    display: flex;
    font-size: 26px;
    width: 90px;
    height: 45px;
    justify-content: center;
}
/*차트 legend css*/
.legendDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.legend{
    width: 70px;
    align-items: center;
    padding: 5px 0;
    display: flex;
}
.label{
    margin-right: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50px;
}

/* 체크박스 커스텀 */
.cb{
    position: relative;
    color: white;
    margin: 0 3.5px;
    width: 14px;
    min-width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #0098fe;
    transition: background-color 0.3s ease;
}
.cb.checked{
    background-color: #00D28C;
}
.cb > i{
    position: absolute;
    top: 7px;
    left: 1.2px;
}