.wrapper{
    height: 90%;
}
.wrapper__form{
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 60px;
}
.contentColumn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4C7465;
}
.contentRow{
    background-color: #8e8e8e;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 2%;
}

.content{
    width: 100%;
    margin: 2%;
    height: 100%;
    border-radius: 16px;
    background-color: tomato;
}