html, body, .wrapper{
    overflow-y: hidden;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72%;
    color: #222222;
    min-width: 1100px;
}
.category--form{
    width: 20%;
    min-width: 235px;
    height: 100%;
    padding: 0 20px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px #8e8e8e;
}
.fullCalendarDiv{
    height: 100%;
    display: flex;
    align-items: center;
}
.calendar--form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 0 20px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px #8e8e8e;
}
#calendar{
    width: 800px;
    min-width: 700px;
    height: 90%;
}
.form__subtitle{
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
}
.subtitle--category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
    padding: 20px 0 17px 0;
}
.categoryAdd, .scheduleAdd{
    font-size: 12px;
}

.scheduleAdd > div{
    cursor: pointer;
}

.categoryTab{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoryTab > div{
    padding: 5px 0;
    width: 33%;
    border: 1px solid #a8a8a8;
    text-align: center;
    cursor: pointer;
}
.categoryTab > div:first-child{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-collapse: collapse;
}
.categoryTab > div:last-child{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-collapse: collapse;
}
.categoryAdd{
    cursor: pointer;
    text-align: right;
}
.categoryList:not(.scrollBox){
    width: 100%;
    height: 70%;
    margin-top: 10px;
    overflow: auto
}
.sharedCategory{
    display: none;
}
.categoryList > .categoryRow, .allCategoryRow{
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.categoryList > .categoryRow > div:not(.categoryEditDiv, .categoryRow__user, .categoryContent) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
    height: 20px;
}
.categoryEditDiv{
    visibility: hidden;
}
.categoryRow:hover .categoryEditDiv{
    visibility: visible;
}
.categoryRow:hover:not(.sharedCategory .categoryRow){
    cursor: pointer;
    background-color: #E1F8F0;
}
.categoryRow__user, .allCategoryRow__user{
    cursor: pointer;
    width: calc(100% - 15px);
}
.categoryRow__user__name, .allCategoryRow__user__name{
    padding: 10px 0;
}
.categoryRow__user__category, .allCategoryRow__user__category{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding: 10px 0 10px 24px;
    font-size: 14px;
}
.categoryRow__user__category:hover, .allCategoryRow__user__category:hover{
    cursor: pointer;
    background-color: #E1F8F0;
}
.modalDiv{
    height: 0px;
}
.modal_schedule {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
}
.modal_schedule--list .modal_schedule_body{
    max-height: 554px;
}
.modal_schedule--edit {
    background-color: inherit;
}
.modal_schedule.show {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_schedule_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 610px;
    height: fit-content;
    padding: 0 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transition: all 0.5s ease-in-out;
}
.modal_schedule > div:nth-child(2){
    display: none;
}
.modal_schedule > div:nth-child(2).show{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal_schedule_body_top{
    height: 15%;
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
    height: fit-content;
    width: 100%;
    text-align: center;
}
.modal_schedule_body_mid{
    width:100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
}
.scheduleAdd{
    width: 100%;
    text-align: right;
    height: 5%;
}
.scheduleBtnDiv{
    height: 10%;
    bottom: 0px;
    padding: 20px 0;
}

.modal_schedule_body input:not(.scheduleTag), .tagDiv, select{
    border: 1px solid rgb(213, 213, 213);
    border-radius: 6px;
    width: 220px;
    height: 30px;
    padding: 5px 16px;
}
.modal_schedule_body select, .modal_schedule_body option{
    width: 254px;
    height: 40px;
}
#schedulePriority{
    padding: 0;
}
.scheduleTag{
    width: 150px;
    border: none;
    margin-top: 5px;
}
.scheduleTag:focus{
    outline: none;
}
.creatorUser {
    display: flex;
    align-items: center;
    gap: 12px
}

.modal_schedule_body_mid input[type='checkbox']{
    width: 15px;
    height: 15px;
}
.modal_schedule_body_mid > div {
    width: 100%;
    padding: 10px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_schedule_body_mid > div:last-child{
    margin-top: 15px;
}
.modal_schedule_body_mid > div > label{
    font-size: 14px;
    font-weight: bold;
    width: 15%;
    position: absolute;
    left: 0px;
}
/* 일정 목록 */
.modal_schedule_body_mid > .scheduleAdd{
    display: block;
    text-align: right;
}
.modal_schedule_body_mid .scheduleTableDiv{
    display: flex;
    height: 100%;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.modal_schedule_body_mid:hover .scheduleTableDiv{
    overflow-y: auto;
    overflow-y: overlay;
}
.addBtn{
    color: inherit;
    background-color: inherit;
    margin: 0;
}
.scheduleTable{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}
.scheduleTable thead th span{
    position: relative;
}
.scheduleTable .fa-sort{
    position: absolute;
    right: -10px;
    top: 50%;
}
.scheduleTable tr{
    height: 30px;
}
.scheduleTable thead tr{
    height: 40px;
}
.scheduleTable tbody td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}
#scheduleTbody tr:hover{
    background-color: #efefef;
    cursor: pointer;
}

.modal_schedule_body_mid > div:first-child > div:not(.scheduleAdd > div){
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_schedule_body_mid input[type="datetime-local"], #startDate, #endDate{
    width: 100px;
    margin: 0 9px;
    padding: 5px 8px;
}
.modal_schedule--edit .modal_schedule_body:last-child > div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.scheduleName{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    height: 20px;
}
.modal_schedule_body:last-child > div > input{
    width: 75%;
}
.addrInput::placeholder{
    color: #cccccc;
}
.tagDiv{
    height: 116px;
    padding: 16px;
    flex-wrap: wrap;
}
.tagListDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.autoTagList{
    display: flex;
    position: absolute;
    bottom: 145px;
    width: 254px;
    max-height: 346px;
    overflow: auto;
    background-color: white;
    border: solid 0.5px #a8a8a8;
    padding: 12px;
    box-sizing: border-box;
    flex-wrap: wrap;
    z-index: 9999
}
.autoTagDiv{
    display: inline;
    margin: 8px 15px 8px 0;
}

.autoTag, .tagValue{
    cursor: pointer;
    list-style:none;
    color: #a8a8a8;
    align-items: center;
    font-size: 15px;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding: 0px 4px;
    height: fit-content;
    width: fit-content;
}
.autoTagDiv{
    position: relative;
}
.autoTagDiv i{
    display: none;
    background-color: white;
    position: absolute;
    right: -12px;
    bottom: 4px;
    font-size: 14px;
}

.deleteTagValue {
    border-radius: 50%;
    background-color: #a8a8a8;
    background-size: 4px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    vertical-align: sub;
    margin-left: 4px;
}
.tagListDiv .autoTagDiv:hover > .deleteTagValue{
    display: flex;
}
.fa-sort.fa-2xs{
    display: none;
}
th:hover{
    cursor: pointer;
}
th:hover .fa-sort.fa-2xs{
    display: inline;
}
.platformLogo{
    width: 30px;
    height: 30px;
}