<div class="navbar">
    <ul>
        <li><a href="/home">대쉬보드</a></li>
        <li><a href="/calendar">캘린더</a></li>
        <li><a href="/tagStatistics">태그 통계</a></li>
        <li>연동API</li>
        <li>이름</li>
        <li>프로필 사진</li>
        <li><a href="/login">로그아웃</a></li>
        <li>메뉴색 변경</li>
    </ul>
</div>