<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login/login.css">
    <link rel="stylesheet" href="/stylesheets/Schedule/CreateEditSchedule.css">
    <script defer src="/javascripts/navbar.js"></script>
    <script defer src="/javascripts/Schedule/CreateEditSchedule.js"></script>
</head>
<body>
<%- include ('layout/navbar.ejs') %>
<div class="wrapper">
    <div class="sampleDiv">
        <button onclick="openModal()">추가</button>
        <div>카테고리 영역(생성, 삭제, 수정)</div>
        <div>공유받은 일정 영역(공유 받은 일정 카테고리 하위에 사용자 아이디로 항목 표시, 3단 트리구조 공유함 > 사용자이름 > 카테고리명)</div>
        <div>일정 목록 모달(+일정 생성 및 편집 모달)</div>
        <div>카테고리 생성 및 편집 모달(+사용자 선택 모달)</div>
    </div>
</div>
</body>
</html>
<%- include('./ScheduleModal.ejs')%>