<!--
-   담당자 : 정희성, 배도훈
-   설명 : 카테고리 ejs
-   주요 기능 : 카테고리 선택, 분류, 생성, 수정, 삭제 등
-->
<div class="form__subtitle subtitle--category">
    <div>
        카테고리
    </div>
    <div class="categoryAdd" onclick="openCategoryModal()">
        <i class="fa-solid fa-plus"></i>
        추가
    </div>
</div>
<div class="categoryTab">
    <input type="radio" name="categoryTab" id="myCategoryTab"><label for="myCategoryTab" onclick="MyCategory()">나의 카테고리</label>
    <input type="radio" name="categoryTab" id="sharedCategoryTab"><label for="sharedCategoryTab" onclick="sharedCategory()">공유함</label>
    <input type="radio" name="categoryTab" id="allCategoryTab"><label for="allCategoryTab" onclick="allCategory()">전체</label>
</div>

<!-- 나의 카테고리 -->
<div class="categoryList myCategory"></div>
<!-- 공유함 -->
<div class="categoryList sharedCategory"></div>
<!-- 전체 카테고리 -->
<div class="categoryList allCategory"></div>