<div class="form__subtitle subtitle--category">
    <div>
        카테고리
    </div>
    <div class="categoryAdd" onclick="openCategoryModal()">
        <i class="fa-solid fa-plus"></i>
        추가
    </div>
</div>
<div class="categoryTab">
    <!--<div>전체</div>-->
    <div onclick="MyCategory()">My</div>
    <div onclick="sharedCategory()">공유함</div>
</div>
<!-- my카테고리 -->
<div class="categoryList myCategory">
</div>
<!-- 공유함 -->
<div class="categoryList sharedCategory">
</div>