<div class="modal_category modal_category--createEdit">
    <div class="modal_category_body">
        <div class="modal_category_body_top">카테고리 생성</div>
        <div class="modal_category_body_mid">
            <div>
                <label>제목</label>
                <div>
                    <input type="text" id="categoryName" class="categoryName">
                </div>
            </div>
            <div>
                <div class="AddUserTagList"></div>
                <label>태그</label>
                <div class="AddUserTagDiv">
                    <div class="AddUserTagCover">
                        <div class="AddUserTagListDiv"></div>
                        <input type="input" id="categoryTag" class="categoryTag" onkeyup="AddUserSearchTag()" placeholder="태그 입력" maxlength="20" autocomplete="off">
                    </div>
                </div>
            </div>
            <div>
                <label>공유 유저</label>
                <input onclick="addUserToggle()" type="checkbox" id="userCheckbox" class="userCheckbox">
                <div>공유 유저 여부</div>
            </div>
        </div>
        <div class="categoryBtnDiv">
            <button class="btn-empty" onclick="closeCategoryModal(this)">
                닫기
            </button>
            <button onclick="saveCategory()">
                저장
            </button>
        </div>
    </div>
    <div class="modal_category_body">
        <div class="modal_category_body_Adduser_top">
            <div>
                <span>담당자</span>
                <span>0</span>
            </div>
            <div>
                <button onclick="openAddUserModal()">공유 유저 추가</button>
                <div class="modal_adduser_body" style="top: 80px; right: 10%;">
                    <div class="modal_adduser_body_top">
                        <div class="modal_adduser_body_close">
                            <i class="fa-solid fa-x" onclick="closeAddUserModal()" style="cursor: pointer"></i>
                        </div>
                        <div class="modal_adduser_search">
                            <input type="text" class="searchUser" id="searchUser" onkeyup="searchAddUser()" placeholder="이름 혹은 이메일로 검색하세요">
                        </div>
                        <div class="modal_adduser_button" onclick="getCheckboxAddUser()">확인</div>
                    </div>
                    <div class="modal_adduser_body_mid">
                        <div class="modal_adduser_userList"></div>
                    </div>
                    <div class="modal_adduser_body_bottom"></div>
                </div>
            </div>
        </div>
        <div class="modal_category_body_Adduser_mid"></div>
    </div>
</div>