<!--
-   담당자 : 정희성, 배도훈
-   설명 : 카테고리 ejs
-   주요 기능 : 카테고리 선택, 분류, 생성, 수정, 삭제 등
-->
<div class="form__subtitle subtitle--category">
    <div>
        카테고리
    </div>
    <div class="categoryAdd" onclick="openCategoryModal()">
        <i class="fa-solid fa-plus"></i>
        추가
    </div>
</div>
<div class="categoryTab">
    <!--<div>전체</div>-->
    <div onclick="MyCategory()">My</div>
    <div onclick="sharedCategory()">공유함</div>
    <div onclick="allCategory()">All</div>
</div>
<!-- my카테고리 -->
<div class="categoryList myCategory">
</div>
<!-- 공유함 -->
<div class="categoryList sharedCategory">
</div>
<!-- all -->
<div class="categoryList allCategory">
</div>