<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@5.11.3/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@5.11.3/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@5.11.3/main.global.min.js"></script>
<script defer>
    let calendar;
    let eventList = [];
    let eventData = {};
    document.addEventListener('DOMContentLoaded', function () {

        $.ajax({
            type: 'POST',
            url: 'schedule/findByUser',
            dataType: "json",
            async: false,
            success: function (res) {
                const schedule = res.schedule;
                console.log('schedule : ' + JSON.stringify(schedule));
                for (let i = 0; i < schedule.length; i++) {
                    eventData.title = schedule[i].title;
                    eventData.start = schedule[i].startDate.split('Z')[0];
                    eventData.end = schedule[i].endDate.split('Z')[0];
                    eventData.id = schedule[i]._id;
                    eventData.address = schedule[i].address;
                    eventData.tags = schedule[i].tagInfo;
                    eventList.push(eventData);
                    eventData = {}
                }

            },
            error: function (err) {

            }
        })
        console.log('evnetList : ' + JSON.stringify(eventList));
        var calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: 'Asia/Seoul',
            initialView: 'dayGridMonth',
            selectable: false,

            dateClick: function (info) {
                let selectedEventList = [];

                for (let i = 0; i < eventList.length; i++) {
                    if (new Date(eventList[i].start).getDate().toString().split('T') <= new Date(info.dateStr).getDate().toString().split('T') && new Date(info.dateStr).getDate().toString().split('T') <= new Date(eventList[i].end).getDate().toString().split('T')) {
                        /*console.log('start: ' + JSON.stringify(eventList[i].start))
                        console.log('end: ' + JSON.stringify(eventList[i].end))*/
                        selectedEventList.push(eventList[i]);
                    }
                }
                openListModal(selectedEventList);
                /*console.log('0 : ' + selectedEventList[0].start)*/
                /*console.log('picked: ' + JSON.stringify(info.dateStr))*/
                /*console.log('eventList: ' + JSON.stringify(calendar.getEvents()));*/
            },
            /*select: function(arg) { // 캘린더에서 드래그로 이벤트를 생성할 수 있다.
                 var title = prompt('Event Title:');
                 if (title){
                     calendar.addEvent({title: title, start: arg.start, end: arg.end, allDay: arg.allDay})
                 }
                 calendar.unselect();
            },*/
            //지우면 오늘 날짜로 시작
            headerToolbar: {
                left: 'prevYear,prev,next,nextYear today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            eventClick: function (info) {
                console.log(info.event.id)
                let eventData = {
                    title: '취침',
                    start: '2022-08-15',
                    end: '2022-08-15',
                    id: '123123'
                }
                /*calendar.currentData.calendarOptions.events.push(eventData);*/
                console.log(calendar.currentData.calendarOptions.events);
            },
            events: eventList,
        });
        calendar.render();
    });
</script>
<body>
<div class="fullCalendarDiv">
    <div id='calendar' class="full_calendar fc"></div>
</div>
</body>
