<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/Dashboard/dashboard.css">
    <script defer src="/javascripts/navbar.js"></script>
    <script defer src="/javascripts/Dashboard/dashboard.js"></script>
    <script defer src="/javascripts/Dashboard/scheduleCategory.js"></script>
</head>
<body>
<%- include ('layout/navbar.ejs') %>
<div class="wrapper">
    <div class="wrapper__form">
        <div class="contentRow">
            <div class="contentCol">
                <div class="content">
                    <div class="content__top">
                        <div class="content__title">
                            <i class="fa-solid fa-chart-pie" style="color: #6681FF"></i>
                             차트
                        </div>
                    </div>
                    <div class="content__mid">
                        <div class="testScroll">
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                            <div>1</div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="content__top">
                        <div class="content__title">
                            <i class="fa-solid fa-file-lines" style="color: #FFA500FF"></i>
                             메모
                        </div>
                        <div class="content__top__add" onclick="">
                            <i class="fa-solid fa-plus" onclick=""></i>
                        </div>
                    </div>
                    <div class="content__mid">
                        <div class="notepad">
                            <div class="testScroll">
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentCol visibleCol">
                <div class="content__top">
                    <div class="content__title">
                        <i class="fa-solid fa-clipboard-list" style="color: #CE9462"></i>
                         일정
                    </div>
                </div>
                <div class="content content--schedule">
                    <div class="content__mid">
                        <div class="content__top">
                            <div class="content__subtitle" onclick="scheduleToggle(this)">
                                <i class="fa-solid fa-chevron-down" style="color: #222222; margin-right: 5px"></i>
                                 미완료 일정
                            </div>
                        </div>
                        <div class="scheduleContent">
                            <div class="testScroll">
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content content--schedule">
                    <div class="content__mid">
                        <div class="content__top">
                            <div class="content__subtitle" onclick="scheduleToggle(this)">
                                <i class="fa-solid fa-chevron-down" style="color: #222222; margin-right: 5px;"></i>
                                 완료 일정
                            </div>
                        </div>
                        <div class="scheduleContent">
                            <div class="testScroll">
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                                <div>1</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentCol">
                <div class="content">
                    <div class="content__top">
                        <div class="content__title">
                            <i class="fa-solid fa-folder" style="color: #FFD664"></i>
                             카테고리
                        </div>
                    </div>
                    <div class="content__mid">
                        <div>
                            내용
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="content__top">
                        <div class="content__title">
                            <i class="fa-solid fa-clock" style="color: #74C0FC"></i>
                             활동 로그
                        </div>
                    </div>
                    <div class="content__mid">
                        <div>
                            내용
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>