<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login/login.css">
</head>
<body>
<%- include ('layout/navbar.ejs') %>
<div class="wrapper">
    <div class="sampleDiv">
        <div>오늘 할 일 완료율 표시</div>
        <div>오늘 일정 리스트</div>
        <div>일정 생성 및 편집(+삭제) 모달</div>
    </div>
</div>
</body>
</html>