<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/Dashboard/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/Schedule/calendar.css">
    <script defer src="/javascripts/navbar.js"></script>
    <script defer src="/javascripts/Dashboard/Dashboard.js"></script>
    <script defer src="/javascripts/Dashboard/ScheduleCategory.js"></script>
    <script defer src="/javascripts/TagStatistics/Chart.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>


</head>
<body>
<%- include ('layout/navbar.ejs') %>
<div class="wrapper">
    <div class="wrapper__form">
        <div class="contentRow">
            <div class="contentCol">
                <div class="content">
                    <div class="content__top">
                        <div class="content__title">
                            <i class="fa-solid fa-chart-pie" style="color: #6681FF"></i>
                             차트
                        </div>
                    </div>
                    <div class="content__mid">
                        <div class="scrollBox">
                            <div>
                                <!--차트가 그려질 부분-->
                                <div class="scheduleChart">
                                    <canvas id="scheduleChart"></canvas>
                                    <div class="chartCenterBack">
                                        <div class="chartCenter">
                                        </div>
                                    </div>
                                    <div id="legendDiv" class="legendDiv"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content content--memo">
                    <div class="content__top">
                        <div class="content__title">
                            <i class="fa-solid fa-file-lines" style="color: #FFA500FF"></i>
                             메모
                        </div>
                        <div class="content__top__btn">
                            <i class="fa-solid fa-chevron-left" onclick="showMemoList()" style="margin-left: 10px;"></i>
                            <i class="fa-solid fa-trash" onclick="deleteMemo()" style="margin-left: 10px;"></i>
                            <i class="fa-solid fa-check fa-lg" onclick="saveMemo()" style="color: #19CE60; margin-left: 10px;"></i>
                            <i class="fa-solid fa-plus" onclick="showMemoText();" style="display: none"></i>
                        </div>
                    </div>
                    <div class="content__mid">
                        <div class="notepad">
                            <div class="scrollBox" onclick="/*document.getElementsByClassName('memoText')[0].focus()*/">
                                <div class="memoList">
                                </div>
                                <div class="memoTextDiv" style="display: none">
                                    <textarea class="memoText"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentCol visibleCol">
                <div class="content__top">
                    <div class="content__title">
                        <i class="fa-solid fa-clipboard-list" style="color: #CE9462"></i>
                         나의 일정
                    </div>
                    <div>
                        <div class="selectCategory"></div>
                        <div class="MyScheduleReload" onclick="findScheduleList()">
                            <i class="fa-solid fa-rotate-right"></i>
                        </div>
                    </div>
                </div>
                <div class="content content--schedule">
                    <div class="content__mid">
                        <div class="content__top">
                            <div class="content__subtitle" onclick="scheduleToggle(this)">
                                <i class="fa-solid fa-chevron-down" style="color: #222222; margin-right: 5px"></i>
                                 미완료 일정
                            </div>
                        </div>
                        <div class="scheduleContent">
                            <div class="scrollBox">
                                <div class="scheduleList incomplete">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content content--schedule">
                    <div class="content__mid">
                        <div class="content__top">
                            <div class="content__subtitle" onclick="scheduleToggle(this)">
                                <i class="fa-solid fa-chevron-down" style="color: #222222; margin-right: 5px;"></i>
                                 완료 일정
                            </div>
                        </div>
                        <div class="scheduleContent">
                            <div class="scrollBox">
                                <div class="scheduleList complete">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentCol">
                <div class="content">
                    <div class="content__top">
                        <div class="content__title">
                            <i class="fa-solid fa-folder" style="color: #FFD664"></i>
                             공유 카테고리
                        </div>
                    </div>
                    <div class="content__mid">
                        <div class="category__mid">
                            <div class="categoryList scrollBox"></div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="content__top">
                        <div class="content__title">
                            <i class="fa-solid fa-clock" style="color: #74C0FC"></i>
                             활동 로그
                        </div>
                    </div>
                    <div class="content__mid">
                        <div class="logContent">
                            <div class="logList scrollBox"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modalDiv">
    <%- include('./ScheduleDetail.ejs')%>
</div>
</body>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js" integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>
