<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/index.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/table.css' />
</head>
<body>
<h1><%= title %></h1>
</body>