<!--
-   ë‹´ë‹¹ìž : ì •í¬ì„±, ë°°ë„í›ˆ
-   ì„¤ëª… : ë¡œê·¸ì¸ íŽ˜ì´ì§€ ejs
-   ì£¼ìš” ê¸°ëŠ¥ : ì¹´ì¹´ì˜¤í†¡ ë¡œê·¸ì¸, ë„¤ì´ë²„ ë¡œê·¸ì¸
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login/login.css">
</head>
<body>
<div class="bg">
    <div class="wrapper">
        <div class="content">
            <div class="content__top">
                <div class="content__title">
                    <div>ðŸ‘‹</div>
                    <div>Hello</div>
                </div>
                <div></div>
                <div class="content__subtitle">Choose a login platform and use all our services</div>
            </div>
            <div class="content__body">
                <button class="naverLogin" onclick="location.href='/login/auth/naver'">
                    <img src="/img/naverLogo.png" alt="img" class="platformLogo">
                    Login with Naver
                </button>
                <button class="kakaoLogin" onclick="location.href='/login/auth/kakao'">
                    <img src="/img/kakaoLogo.png" class="platformLogo">
                    Login with Kakao
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>