<div class="modal_schedule modal_schedule--list">
    <div class="modal_schedule_body">
        <div class="modal_schedule_body_top">일정 목록</div>
        <div class="modal_schedule_body_mid">
            <button onclick="openEditModal()">일정 생성</button>
            <button onclick="" class="btn-red">일정 삭제</button>
            <table>
                <tr>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                </tr>
            </table>
        </div>
        <div class="scheduleBtnDiv">
            <button class="btn-empty" onclick="closeModal(this)">
                닫기
            </button>
            <button>
                저장
            </button>
        </div>
    </div>
</div>
