<div class="modal_schedule modal_schedule--list">
    <div class="modal_schedule_body">
        <div class="modal_schedule_body_top">일정 목록</div>
        <div class="modal_schedule_body_mid">
            <div class="scheduleAdd">
                <div onclick="openEditModal()">
                    <i class="fa-solid fa-plus"></i>
                    일정 추가
                </div>
            </div>
            <table>
                <colgroup>
                </colgroup>
                <thead>
                    <tr>
                        <th>생성자</th>
                        <th>일정명</th>
                        <th>장소</th>
                        <th>기간</th>
                        <th>태그</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>배도훈</td>
                        <td>밥 먹기</td>
                        <td>집</td>
                        <td>2022-10-11 ~ 2022-10-11</td>
                        <td>#뭐먹지</td>
                        <td><button onclick="" class="btn-red">삭제</button></td>
                    </tr>
                    <tr>
                        <td>배도훈</td>
                        <td>밥 먹기</td>
                        <td>집</td>
                        <td>2022-10-11 ~ 2022-10-11</td>
                        <td>#뭐먹지</td>
                        <td><button onclick="" class="btn-red">삭제</button></td>
                    </tr><tr>
                        <td>배도훈</td>
                        <td>밥 먹기</td>
                        <td>집</td>
                        <td>2022-10-11 ~ 2022-10-11</td>
                        <td>#뭐먹지</td>
                        <td><button onclick="" class="btn-red">삭제</button></td>
                    </tr>
                    <tr>
                        <td>배도훈</td>
                        <td>밥 먹기</td>
                        <td>집</td>
                        <td>2022-10-11 ~ 2022-10-11</td>
                        <td>#뭐먹지</td>
                        <td><button onclick="" class="btn-red">삭제</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="scheduleBtnDiv">
            <button class="btn-empty" onclick="closeModal(this, 'list')">
                닫기
            </button>
            <button>
                저장
            </button>
        </div>
    </div>
</div>
