<div class="modal_schedule modal_schedule--list">
    <div class="modal_schedule_body">
        <div class="modal_schedule_body_top">일정 목록</div>
        <div class="modal_schedule_body_mid">
            <div class="scheduleAdd">
                <div class="scheduleAdd__div" onclick="openCreateModal()">
                    <i class="fa-solid fa-plus"></i>
                    일정 추가
                </div>
                <div onclick="sortList('title')">
                    정렬
                </div>
            </div>
            <div class="scheduleTableDiv">
                <table class="scheduleTable">
                    <colgroup>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>일정명</th>
                        <th>시작일</th>
                        <th>종료일</th>
                    </tr>
                    </thead>
                    <tbody id="scheduleTbody">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="scheduleBtnDiv">
            <button class="btn-empty" onclick="closeModal(this, 'list')">
                닫기
            </button>
        </div>
    </div>
</div>
