<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login/login.css">
    <script defer src="/javascripts/navbar.js"></script>
</head>
<body>
<%- include ('layout/navbar.ejs') %>
<div class="wrapper">
    <div class="wrapper__form">
        <div>총 일정 개수 표시 영역</div>
        <div>태그별 사용 횟수</div>
        <div>태그별 그래프</div>
    </div>
</div>
</body>
</html>