<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/tagStatistics/tagStatistics.css">
    <script defer src="/javascripts/navbar.js"></script>
    <script defer src="/javascripts/TagStatistics/TagStatistics.js"></script>
    <script defer src="/javascripts/TagStatistics/Chart.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
</head>
<body>
<%- include ('layout/navbar.ejs') %>
<div class="wrapper">
    <div class="wrapper__form">
        <div class="content">
            <div class="content--chart">
                <div class="content__top">태그 현황</div>
                <div class="content__mid">


                    <div class="myChartDiv">
                        <div style="width: 320px; height: 100%; ">
                            <div id="slider">
                                <input type="radio" name="slider" id="slide1" checked>
                                <input type="radio" name="slider" id="slide2">
                                <div id="slides">
                                    <div id="overflow" style="">
                                        <div class="inner" style="">
                                            <div class="slide slide_1">
                                                <div class="slide-content">
                                                    <!--차트가 그려질 부분-->
                                                    <canvas id="myChart" style="width: 220px; height: 110px"></canvas>
                                                </div>
                                            </div>
                                            <div class="slide slide_2">
                                                <div class="slide-content">
                                                    <!--차트가 그려질 부분-->
                                                    <canvas id="myBarChart" style="height: 166px; margin-top: 55px;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="controls">
                                    <label for="slide1"><i class="fa-solid fa-caret-left fa-xl"></i></label>
                                    <label for="slide2"><i class="fa-solid fa-caret-right fa-xl"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="legendDiv" class="legendDiv">
                        <div class="legend"><div class="label"></div></div>
                    </div>
                </div>
            </div>
            <div class="content--tag">
                <div class="content__top tagContent__top">
                    <div>
                        <div>태그 목록</div>
                        <div class="tagList_cnt"></div>
                    </div>
                    <div>
                        <div class="selectTitle"></div>
                        <div class="tagScheduleReload" onclick="findMyTag()">
                            <i class="fa-solid fa-rotate-right"></i>
                        </div>
                    </div>
                </div>
                <div class="content__mid tagContent__mid">
                    <table class="myTagListTable theadTable" id="myTagListTable">
                        <colgroup>
                            <col width="25%"/>
                            <col width="50%"/>
                            <col width="25%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">태그 명</th>
                            <th scope="col">비율</th>
                            <th scope="col">개수</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="tableDiv">
                        <table class="myTagListTable" id="myTagListTable">
                            <colgroup>
                                <col width="25%"/>
                                <col width="50%"/>
                                <col width="25%"/>
                            </colgroup>
                            <tbody class="tr_MyTagList" id="tr_MyTagList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="verticalLine"></div>
        <div class="content" style="flex-direction: column">
            <div class="content--schedule">
                <div class="content__top scheduleContent__top">
                    <div>
                        <div>일정 목록</div>
                        <div class="scheduleList_cnt"></div>
                    </div>
                    <div>
                        <div class="selectTitle"></div>
                        <div class="tagScheduleReload" onclick="findMySchedule()">
                            <i class="fa-solid fa-rotate-right"></i>
                        </div>
                    </div>

                </div>
                <div class="content__mid ScheduleContent__mid">
                    <table class="myScheduleListTable theadTable">
                        <colgroup>
                            <col width="15%"/>
                            <col width="15%"/>
                            <col width="20%"/>
                            <col width="50%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">일정 상태</th>
                            <th scope="col">일정 제목</th>
                            <th scope="col">일정 내용</th>
                            <th scope="col">일정</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="tableDiv">
                        <table class="myScheduleListTable" id="myScheduleListTable">
                            <colgroup>
                                <col width="15%"/>
                                <col width="15%"/>
                                <col width="20%"/>
                                <col width="50%"/>
                            </colgroup>
                            <tbody class="tr_MyScheduleList" id="tr_MyScheduleList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
