<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/tagStatistics/tagStatistics.css">
    <script defer src="/javascripts/navbar.js"></script>
    <script defer src="/javascripts/TagStatistics/tagStatistics.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
</head>
<body>
<%- include ('layout/navbar.ejs') %>
<div class="wrapper">
    <div class="wrapper__form">
        <div class="content content--chart">
            <div class="content__top">태그 현황</div>
            <div class="content__mid">
                <div style="width: 400px; height: 400px;">
                    <!--차트가 그려질 부분-->
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
        <div class="verticalLine"></div>
        <div class="content" style="flex-direction: column">
            <div class="content content--schedule">
                <div class="content__top">일정 목록 <button onclick="findScheduleCnt()">일정개수</button></div>
                <div class="content__mid ScheduleContent__mid">
                    <table class="MyScheduleListTable" id="MyScheduleListTable">
                        <thead>
                        <tr>
                            <th scope="col">일정 상태</th>
                            <th scope="col">일정 제목</th>
                            <th scope="col">일정</th>
                        </tr>
                        </thead>
                        <tbody class="tr_MyScheduleList" id="tr_MyScheduleList">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="content content--tag">
                <div class="content__top">태그 목록 </div>
                <div class="content__mid tagContent__mid">
                    <div class="MyTagList">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        $.ajax({
            type: 'POST',
            url: 'schedule/findCnt',
            dataType: "json",
            success: function (res) {
                setChart(res);
            },
            error: function (err) {
                alert("태그 정보를 불러오지 못하였습니다.")
                console.log(err)
            }
        })
    }

    function setChart(tagData) {
        console.log(JSON.stringify(tagData.selectScheduleTag))
        const tagNameArr = [];
        const tagCntArr = [];
        const tagCntPer = [];
        let totalCnt = 0;
        for(let i = 0; i < tagData.selectScheduleTag.length; i++){
            tagNameArr.push(tagData.selectScheduleTag[i].content)
            tagCntArr.push(tagData.selectScheduleTag[i].count)
            totalCnt += tagData.selectScheduleTag[i].count;
        }
        console.log('tagNameArr : ' + tagNameArr)
        console.log('tagCntArr : ' + tagCntArr)
        console.log('totalCnt : ' + totalCnt)

        for(let i = 0; i < tagCntArr.length; i++){
            tagCntPer.push(((tagCntArr[i] / totalCnt) * 100).toFixed(1) + '(' + tagCntArr[i] + ')')
        }
        console.log('percent : ' + tagCntPer)

        var context = document
            .getElementById('myChart')
            .getContext('2d');

        var myChart = new Chart(context, {
            type: 'pie', // 차트의 형태
            data: { // 차트에 들어갈 데이터
                labels: tagNameArr,
                datasets: [
                    { //데이터
                        label: 'tagChart', //차트 제목
                        fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                        data: tagCntArr,
                        backgroundColor: [
                            //색상
                            '#bf1932',
                            '#e2583e',
                            '#f0c05a',
                            '#88b04b',
                            '#93a9d1',
                            '#0f4c81',
                            '#6667ab',
                            '#8e8e8e',
                        ],
                        borderColor: [],
                        borderWidth: 0 //경계선 굵기
                    }
                ]
            },
            options: {
                legend: {
                    display: false
                },
                plugins: {
                    tooltips: {
                        enabled: false
                    },
                    datalabels: {
                        formatter: function (value, context) {
                            return Math.round(value / context.chart.getDatasetMeta(0).total * 100) + "%";
                        },
                        color: '#fff',
                    }
                }
            }
        });
    }
</script>
</body>
</html>
