html{
    background-color: white;
    height: 95%;
}
.wrapper{
    height: 70%;
}
.wrapper__form{
    background-color: white;
    flex-direction: row;
    border: 1px solid #e3e3e3;
    margin: 40px 40px 15px 40px;
    height: calc(100% - 80px);
    width: calc(100vw - 80px);
    min-width: 1200px;
}
.wrapper__form > div{
    padding: 0;
}
.content{
    width: 50%;
    height: 100%;
}
.content__top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 20px;
    border-bottom: 1px solid #e3e3e3;
    height: 10%;
}
.content__mid{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 90%;
}
.content--chart{
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
}
.myChartDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
}
.legendDiv{
    width: 25%;
    overflow-y: auto;
}
.labelDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.legend{
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.label{
    margin-right: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50px;
}

.ScheduleContent__mid{
    align-items: stretch;
    height: 70%;
}
.tagContent__mid{
    align-items: flex-start;
    height: 70%;
}

.verticalLine{
    padding: 0px;
    width: 0px;
    height: 100%;
    border-left: 1px solid #e3e3e3;
}

.platformLogo{
    width: 30px;
    height: 30px;
}
.myScheduleListTable{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.tr_MyScheduleList tr:hover{
    background-color: #dadada;
    cursor: pointer;
}
.myTagListTable{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.tr_MyTagList tr:hover{
    background-color: #dadada;
    cursor: pointer;
}



/* slide */
#slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
    text-align: center;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    height: 100%;
    position: relative;
    z-index: 1;
}
#overflow {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#slide1:checked ~ #slides .inner{
    margin-left: 0;
}
#slide2:checked ~ #slides .inner{
    margin-left: -100%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.0770, 0.000, 0.175, 1.000);
    width: 200%;/* -> 아이템 수 * 100*/
    line-height: 0;
    height: 100%;
}

#slides .slide {
    width: 50%;/* -> 100 / 아이템 수*/
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-content {
    padding: 10px;
}

#controls {
    width: 100%;
    z-index: 0;
    position: absolute;
}
label{
    visibility: hidden;
}
.myChartDiv:hover label{
    visibility: visible;
}
#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    opacity: .4;
}
#controls label:hover {
    opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1)
{
    float: right;
    margin: 10px -50px 0 0;
    display: block;
}
#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4)
{
    float: left;
    margin: 10px 0 0 -50px;
    display: block;
}

