/* 폰트 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular";
}

/* layout */
html{
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: rgb(243, 243, 243);
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
}

.wrapper{
  width: 100%;
  height: 92%; /* navbar height == 8% */
}
.wrapper__form{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper__form > div{
  padding: 10px;
}

/* button */
button{
  background-color: #0D6EFD;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 18px;
  margin: 10px;
  transition: all 0.5s;
}
button:hover{
  cursor: pointer;
  opacity: 0.5;
}
.naverLogin{
  background-color: #19CE60;
  font-weight: bold;
}
.kakaoLogin{
  background-color: #FAE100;
  color: #3C1F19;
  font-weight: bold;
}

/* navbar */
.navbar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 28%;
  background-color: #526CE1;
}
.infoBox{
  width: 540px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.infoBox__top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
 border-top-right-radius: 25px;
 border-top-left-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
}
.infoBox__bottom{
  width: 100%;
  height: 40%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: rgba(255, 255, 255, 0.6);
}
.navbar > div > div > ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #222222;
  list-style: none;
}

.navbar li{
  padding-left: 4%;
  padding-right: 4%;
  text-align: center;
}

.navbar a{
  color: #222222;
  text-decoration: none;
}
.navbar a:visited{
  color: #222222;
}

.userInfo{
  font-size: 24px;
  font-weight: bold;
  color: #222222;
  display: flex;
  align-items: center;
}
.colorDiv{
  width: 100px;
  height: 30px;
  background-color: #a8a8a8;
  border-radius: 4px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  right: 20px;
  bottom: 20px;
}
.colorBtn{
  color: white;
}
#subMenu{
  position: absolute;
  top: 28%;
  background-color: inherit;
  border-radius: 10px;
}
#subMenu ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
#subMenu li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  text-align: center;
  background-color: white;
  color: #222222;
  cursor: pointer;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
}
#subMenu li > div:not(.colorRow, .colorHead){
  width: 100%;
}
#subMenu li > div:hover:not(.colorRow, .colorHead){
  background-color: #8e8e8e;
  opacity: 0.5;
}
#subMenu ul li:first-child{
  width: 150px;
  height: 25px;
  display: none;
  position: absolute;
  top: -100px;
  right: calc(50% - 75px);
}
#subMenu ul li:last-child{
  width: 250px;
  height: 350px;
  display: none;
  position: absolute;
  top: 10px;
  right: 1%;
  padding: 5px;
}
.colorHead{
  font-size: 14px;
  font-weight: bold;
  width: 200px;
  height: 30px;
  text-align: left;
  padding-left: 20px;
  cursor: default;
}
.colorRow{
  display: flex;
  justify-content: center;
  cursor: default;
}
.colorRow div{
  margin: 10px 15px 10px 15px;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  background-color: darkslateblue;
}
.colorRow div:hover{
  cursor: pointer;
  opacity: 0.5;
}