/* 폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Pretendard-Regular";
}

/* layout */
html {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: rgb(243, 243, 243);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    width: 100%;
    min-width: 700px;
    height: 72%; /* navbar height == 28% */
    transition: all 0.3s ease-in-out;
}
.wrapper.maxWrapper{
    height: 87%;
}

.wrapper__form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper__form > div {
    padding: 10px;
}

/* button */
button {
    background-color: #0098fe;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    transition: all 0.3s;
}

.btn-empty {
    background-color: inherit;
    color: #6D6F6D;
    border: 1px solid #a8a8a8;
}

.btn-gray {
    background-color: #ECECEF;
    color: #a8a8a8;
    border: 1px solid #a8a8a8;
}

.btn-red {
    background-color: #EA4335;
    color: white;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* navbar */
.navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 700px;
    height: 28%;
    background-color: #526CE1;
    transition: all 0.3s ease-in-out;
}
.minNav{
    height: 13%;
    min-width: 1320px;
}

.infoBox {
    width: 540px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoBox__top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3);
}

.infoBox__bottom {
    width: 100%;
    height: 40%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgba(255, 255, 255, 0.6);
}

.navbar > div > div > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #222222;
    list-style: none;
}

.navbar li:not(.bgSub) {
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
}

.navbar a {
    color: #222222;
    text-decoration: none;
}

.navbar a:visited {
    color: #222222;
}

.userInfo {
    font-size: 24px;
    font-weight: bold;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userDropDown {
    cursor: pointer;
}

.colorDiv {
    width: 100px;
    height: 30px;
    background-color: #a8a8a8;
    border-radius: 4px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.colorDiv:hover {
    opacity: .5;
}

.colorBtn {
    color: white;
}

.userSub, .bgSub {
    position: absolute;
    left: 10px;
    top: 30px;
    font-weight: normal;
    font-size: 14px;
    width: 100px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 5px;
    text-align: center;
    background-color: white;
    color: #222222;
    cursor: pointer;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    z-index: 2;
}
.bgSub{
    width: 150px;
    position: absolute;
    display: none;
    padding: 15px 40px;
    top: calc(100% + 5px);
    left: calc(100% - 251px);
}
.userSub__logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorHead {
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    height: 30px;
    text-align: left;
    padding: 15px 0 0 20px;
    cursor: default;
}

.colorRow {
    display: flex;
    justify-content: center;
    cursor: default;
}

.colorRow div {
    margin: 10px 15px 10px 15px;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: darkslateblue;
}

.colorRow div:hover {
    cursor: pointer;
    opacity: 0.5;
}
/* 작은 내브바 요소 css */
.minNav{
    min-height: 95px;
}
.minNav .infoBox__top{
    position: absolute;
    right: 0px;
    width: 300px;
    border-radius: 0px;
    height: 100%;
}
.minNav .infoBox__top ul{
    width: 100%;
}
.minNav .userSub{
    top: 40px;
    left: -70px;
}
.minNav .infoBox__bottom{
    border-radius: 25px;
}
.minNav .colorDiv{
    width: 50px;
    height: 25px;
    right: 330px;
}
.minNav .bgSub{
    left: calc(100% - 380px);
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 6px; /* THIS WILL RESET THE DEFAULT SCORLLBAR STYLING */
    height: 10px;
}

/* TO STYLE THE SCROLLBAR TRACK */
::-webkit-scrollbar-track {
    background-color: #e3e3e3; /* THIS WILL SET THE COLOR OF THE SCROLLBAR TRACK */
    border-radius: 10px;
}

/* TO STYLE THE SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    border-radius: 10px;
}